# Deps
**/node_modules

# Env
**/.env*
**/!.env.example

# Test
**/test

# Build
**/dist
**/build
**/out
**/bin
kiary-web-app/.next

# Docker
**/.dockerignore
**/docker-compose*

# Nginx
nginx.conf

# VCS
**/.git
**/.gitignore
**/*.Dockerfile

# IDE
**/.vs
**/.vscode
**/.idea

# Docs
docs
README.md

# NestJS MSA

# .Net
**/.settings
**/.project
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
