# Dependencies
/**/node_modules

# Environment
/**/.env.*
/**/!.env.example

# Build
/**/dist
/**/build
/**/output
/**/out

# Testing
/**/coverage

# Logs
/**/logs
/**/*.log

# IDE
/**/.idea

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# vercel
.vercel

# next.js
/kiary-web-app/.next
next-env.d.ts

# typescript
*.tsbuildinfo

# DB
/data/**