.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-sky-500, $color-sky-600);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s ease-out;
  margin: 0 auto;
  backface-visibility: hidden;

  &:hover {
    transform: scale(110%);
    text-shadow: .5rem 1rem 2rem rgba($color-sky-300, .2);
  }
}

.heading-tertiary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-sky-500, $color-sky-600);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s ease-in-out;
  margin: 0 auto;

  &:hover {
    transform: scale(110%);
    text-shadow: .5rem 1rem 2rem rgba($color-sky-300, .2);
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}