.h-line {
  display: inline-block;
  height: 1px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  &__text {
    position: relative;
    background-color: $color-white;
    padding: 0 .5rem;
    z-index: 1;
  }
}