.section-about {
  background-color: $color-gray-100;
  padding: 20rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(to right bottom, rgba($color-sky-400, .8), rgba($color-sky-700, .8));
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}